<div class="alert alert-{{ this.type }} alert-dismissible fade show" role="alert" style="margin-bottom: 0%;">
  {{ this.message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="this.onClose()"></button>
</div>
