<div class="container-fluid">
  <div class="row mt-5">
    <div id="list-example" class="list-group col-sm-2 d-none d-md-block">
      <div class="position-fixed">
        <h5>Índice</h5>
        <a
          class="list-group-item list-group-item-action"
          (click)="scrollToElement(novoprojetoangular)"
          >Criar Projeto Angular</a
        >
        <a
          class="list-group-item list-group-item-action"
          (click)="scrollToElement(httprequest)"
          >Http Request</a
        >
        <a
          class="list-group-item list-group-item-action"
          (click)="scrollToElement(novoprojetonode)"
          >Criar Projeto NodeJS</a
        >
      </div>
    </div>
    <div class="overflow-auto col-sm-10" tabindex="0">
      <div class="container">
        <h1>Documentação</h1>
        <div class="col-sm-12 mt-3">
          <div #novoprojetoangular>
            <app-help-novoprojetoangular></app-help-novoprojetoangular>
          </div>
          <div #httprequest>
            <app-help-httprequest></app-help-httprequest>
          </div>
          <div #novoprojetonode>
            <app-help-novoprojetonode></app-help-novoprojetonode>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
