<div class="row text-end mt-3">
  <a routerLink="security/card-menu-home">
    <span class="material-icons text-dark">
      add_box
    </span>
  </a>
</div>
<div class="row">
  <div *ngFor="let card of this.cards | sort:'asc'" class="col-sm-3 mb-3">
    <div class="card">
      <div class="d-flex justify-content-between card-header {{card.headerClass}}">
        <div>
          {{card.name}}
        </div>
        <div>
          <a routerLink="security/card-menu-home/{{card.sortedKey}}">
            <span class="material-icons {{card.headerClass}}" style="font-size: 14pt;cursor: pointer;">edit</span>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div *ngFor="let app of card.apps | sort:'asc'" class="col-4">
            <div class="text-center m-1 {{app.buttonClass}}" style="width: 74px;height: 74px;border-radius: 7px;cursor: pointer;" routerLink="{{'./' + app.routerLink}}">
              <span class="material-icons mt-2 {{app.textClass}}" style="font-size: 20pt;">{{app.icon}}</span>
              <p class="{{app.textClass}}" style="font-size: 0.7rem;">{{app.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

