<ctrl-header-frame title="Criar Conta" #frame>
  <div body>
    <!-- <ctrl-form-debug [form]="this.form"></ctrl-form-debug> -->
    <form class="my-login-validation" [formGroup]="this.form">
      <div class="mt-3">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="name"
          [control]="this.form.get('name')"
          label="Nome"
          placeholder="Qual seu nome?"
          id="name"
          autofocus
        ></ctrl-input-field>
      </div>
      <div class="mt-3">
        <ctrl-input-field
          type="email"
          [submitted]="this.submitted"
          formControlName="email"
          [control]="this.form.get('email')"
          label="E-mail?"
          id="email"
        ></ctrl-input-field>
      </div>
      <div class="mt-3">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="phoneNumber"
          [control]="this.form.get('phoneNumber')"
          label="Telefone"
          id="phoneNumber"
        ></ctrl-input-field>
      </div>
      <div class="mt-3">
        <ctrl-input-field
          type="password"
          [submitted]="this.submitted"
          formControlName="password"
          [control]="this.form.get('password')"
          label="Password"
          id="password"
          messagePaternError="Senha deve conter pelo menos um número, uma letra maiúscula, uma letra minúsca e um carater especial ($*&@#)."
        ></ctrl-input-field>
      </div>

      <div class="form-group mt-3">
        <button
          type="submit"
          class="btn btn-primary col-12"
          (click)="onRegister()"
        >
          Registrar
        </button>
      </div>
      <div class="mt-4 text-center">
        Já tem uma conta? <a [routerLink]="this.tenantURL + '/auth/signin'">Login</a>
      </div>
    </form>
  </div>
</ctrl-header-frame>
