
<div class="row mt-3">
  <div class="col-sm-4">
    <app-sqs-send-message></app-sqs-send-message>
  </div>
  <div class="col-sm-4">
    <app-sqs-receive-message></app-sqs-receive-message>
  </div>
  <div class="col-sm-4">
    <app-sqs-receive-message></app-sqs-receive-message>
  </div>
</div>

