<div class="container mt-5">
  <h3 class="page-header">Credenciais de Segurança</h3>
  <div class="form-group mt-3">
    <label class="form-label">Access Token</label>
    <textarea
      class="form-control"
      [value]="stuff.accessToken"
      rows="6"
      readonly
    ></textarea>
  </div>
  <div class="form-group mt-3">
    <label class="form-label">Id Token</label>
    <textarea
      class="form-control"
      [value]="stuff.idToken"
      rows="6"
      readonly
    ></textarea>
  </div>
</div>
