<ctrl-alert-dismissible
type="info"
title="fechar"
message="mensagem de erro"
#alert
></ctrl-alert-dismissible>
<div class="container mt-5">
  <h3 class="page-header">Minha Conta</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parameter of parameters">
        <td>{{ parameter.name }}</td>
        <td>
          <div class="form-group" *ngIf="parameter.name !== 'name'">{{ parameter.value }}</div>
          <div class="form-group" *ngIf="parameter.name === 'name'">
            <div class="form-group row g-2">
              <div class="col-10">
                <input type="text" class="form-control form-control-sm" [value]="parameter.value" #nome/>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary btn-sm" (click)="onChangeUser(nome.value)">Alterar</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
