<div class="form-control form-control-sm needs-validation border-0">
  <div class="card mt-4">
    <div class="card-header text-dark">Preview</div>
    <div class="card-body">
      <div class="mt-2">
        <div class="col-12 mb-3">
          <div class="card">
            <div class="card-header {{ this.cardMenu.headerClass }}">
              {{ this.cardMenu.name }}
            </div>
            <div class="card-body">
              <div class="row">
                <div *ngFor="let app of this.cardMenu.apps | sort:'asc'" class="col-4">
                  <div
                    class="text-center m-1 {{ app.buttonClass }}"
                    style="
                      width: 74px;
                      height: 74px;
                      border-radius: 7px;
                      cursor: pointer;
                    "
                    (click)="onSelect(app)"
                  >
                    <span
                      class="material-icons mt-2 {{ app.textClass }}"
                      style="font-size: 20pt"
                      >{{ app.icon }}</span
                    >
                    <p class="{{ app.textClass }}" style="font-size: 0.7rem">
                      {{ app.text }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
