<form
  class="form-control form-control-sm needs-validation border-0"
  novalidate
  [formGroup]="this.form"
>
  <div class="card mt-4">
    <div
      class="d-flex justify-content-between card-header text-dark"
    >
      <div>{{this.isEditMode ? 'Editar' : 'Adicionar'}} Aplicação</div>
      <div>
        <a *ngIf="this.isEditMode" (click)="onDelete()">
          <span
            class="material-icons text-dark"
            style="font-size: 14pt; cursor: pointer"
            >delete</span
          >
        </a>
        <a *ngIf="this.isEditMode" (click)="onStartAdd()">
          <span
            class="material-icons text-dark ms-3"
            style="font-size: 14pt; cursor: pointer"
            >add_box</span
          >
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="mt-2">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="text"
          [control]="this.form.get('text')"
          label="Aplicação"
          placeholder="Nome da aplicação"
          id="text"
          [(ngModel)]="this.newApp.text"
        ></ctrl-input-field>
      </div>
      <div class="mt-2">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="icon"
          [control]="this.form.get('icon')"
          label="Ícone"
          placeholder="Google fonts identificador. Ex. add_shopping_cart"
          id="icon"
          [(ngModel)]="this.newApp.icon"
        ></ctrl-input-field>
      </div>
      <div class="mt-2">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="buttonClass"
          [control]="this.form.get('buttonClass')"
          label="CSS Botão"
          placeholder="Ex. btn-primary"
          id="buttonClass"
          [(ngModel)]="this.newApp.buttonClass"
        ></ctrl-input-field>
      </div>
      <div class="mt-2">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="textClass"
          [control]="this.form.get('textClass')"
          label="CSS Texto"
          placeholder="Ex. text-light"
          id="textClass"
          [(ngModel)]="this.newApp.textClass"
        ></ctrl-input-field>
      </div>
      <div class="mt-2">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="routerLink"
          [control]="this.form.get('routerLink')"
          label="Rota"
          placeholder="menu"
          id="routerLink"
          [(ngModel)]="this.newApp.routerLink"
        ></ctrl-input-field>
      </div>
      <div class="mt-2">
        <div class="text-end m-1">
          <a
            *ngIf="!this.isEditMode"
            class="btn btn-warning btn-sm"
            (click)="onCreate()"
            >Confirmar</a
          >
        </div>
      </div>
    </div>
  </div>
</form>
