<div class="card">
  <div class="card-header">SendMessage</div>
  <div class="card-body">
    <h5 class="card-title">Enviando mensagens para fila SQS</h5>
    <!-- <p class="card-text">
      {{this.getSumaryMessage()}}
    </p> -->
    <form class="form-control form-control-sm needs-validation mt-3 border-0" novalidate [formGroup]="this.form">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home"
            type="button"
            role="tab"
            aria-controls="home"
            aria-selected="true"
          >
            Principal
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile"
            type="button"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
          >
            Opcionais
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
        <br>
          <ctrl-input-field
            type="url"
            [submitted]="this.submitted"
            formControlName="QueueUrl"
            [control]="this.form.get('QueueUrl')"
            label="QueueUrl"
            placeholder="Url da fila SQS"
            id="QueueUrl"
            messagePaternError="Por favor, informe uma URL válida."
          ></ctrl-input-field>
          <ctrl-textarea-field
            [submitted]="this.submitted"
            formControlName="MessageBody"
            [control]="this.form.get('MessageBody')"
            label="MessageBody"
            placeholder="Mensagem"
            id="MessageBody"
            rows='3'
          ></ctrl-textarea-field>
          <ctrl-input-field
            [submitted]="this.submitted"
            formControlName="DelaySeconds"
            [control]="this.form.get('DelaySeconds')"
            label="DelaySeconds"
            placeholder="DelaySeconds"
            id="DelaySeconds"
            type="number"
          ></ctrl-input-field>
          <ctrl-input-field *ngIf="this.queueFIFO"
          [submitted]="this.submitted"
          formControlName="MessageDeduplicationId"
          [control]="this.form.get('MessageDeduplicationId')"
          label="MessageDeduplicationId"
          placeholder="Identificardor FIFO para evitar duplicidade"
          id="MessageDeduplicationId"
          required
        ></ctrl-input-field>
        <ctrl-input-field *ngIf="this.queueFIFO"
          [submitted]="this.submitted"
          formControlName="MessageGroupId"
          [control]="this.form.get('MessageGroupId')"
          label="MessageGroupId"
          placeholder="Agrupamento FIFO"
          id="MessageGroupId"
          required
        ></ctrl-input-field>
        </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
        <br>
          <ctrl-textarea-field
            [submitted]="this.submitted"
            formControlName="MessageAttributes"
            [control]="this.form.get('MessageAttributes')"
            label="MessageAttributes"
            placeholder="Atributos para filtro"
            id="MessageAttributes"
          ></ctrl-textarea-field>
          <ctrl-textarea-field
            [submitted]="this.submitted"
            formControlName="MessageSystemAttributes"
            [control]="this.form.get('MessageSystemAttributes')"
            label="MessageSystemAttributes"
            placeholder="MessageSystemAttributes"
            id="MessageSystemAttributes"
          ></ctrl-textarea-field>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-warning mt-3"
        (click)="onSendMessage()"
      >
        Enviar Mensagem
      </button>
    </form>
    <div *ngIf="this.resultMessage" class="alert {{this.resultClass}} mt-3" role="alert">
      {{ this.resultMessage }}
    </div>
  </div>
</div>
<!-- <ctrl-form-debug [form]="this.form"></ctrl-form-debug> -->
