<form
  class="form-control form-control-sm needs-validation border-0"
  novalidate
  [formGroup]="this.form"
>
  <div class="card mt-4">
    <div class="d-flex justify-content-between card-header text-dark">
      <div>{{this.isEditMode? 'Editar' : 'Adicionar'}} Caixa de Aplicações</div>
      <div>
        <a *ngIf="this.isEditMode && !this.deleted" (click)="onDelete()">
          <span
            class="material-icons text-dark"
            style="font-size: 14pt; cursor: pointer"
            >delete</span
          >
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="mt-2">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="name"
          [control]="this.form.get('name')"
          label="Título"
          placeholder="Título do box."
          id="name"
          [(ngModel)]="this.cardMenu.name"
        ></ctrl-input-field>
      </div>
      <div class="mt-2">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="context"
          [control]="this.form.get('context')"
          label="Contexto"
          placeholder="Nome do componente"
          id="context"
          [(ngModel)]="this.cardMenu.context"
        ></ctrl-input-field>
      </div>
      <div class="mt-2">
        <ctrl-input-field
          type="number"
          [submitted]="this.submitted"
          formControlName="order"
          [control]="this.form.get('order')"
          label="Posição"
          placeholder="Ordem de exibição"
          id="order"
          [(ngModel)]="this.cardMenu.order"
        ></ctrl-input-field>
      </div>
      <div class="mt-2">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="headerClass"
          [control]="this.form.get('headerClass')"
          label="CSS Class"
          placeholder=""
          id="headerClass"
          [(ngModel)]="this.cardMenu.headerClass"
        ></ctrl-input-field>
      </div>
    </div>
    <div class="text-end m-3">
      <a *ngIf="!this.isEditMode" class="btn btn-warning btn-sm" (click)="onCreate()">Criar Caixa de Apps</a>
      <a *ngIf="this.isEditMode && !this.deleted" class="btn btn-warning btn-sm" (click)="onUpdate()">Confirmar Alterações</a>
    </div>
  </div>
</form>

<!-- <ctrl-form-debug [form]="this.form"></ctrl-form-debug>

{{this.cardMenu | json}} -->
