<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasNavbar"
  aria-labelledby="offcanvasNavbarLabel"
>
  <div class="offcanvas-header bg-light">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Segurança</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body bg-light">
    <div *ngFor="let app of this.apps | sort: 'asc'" class="row">
        <div class="col-auto"
        class="text-center m-1 {{ app.buttonClass }}"
        style="
          width: 74px;
          height: 74px;
          border-radius: 7px;
          cursor: pointer;
        "
        routerLink="{{ this.getRouterLink(app.routerLink) }}"
        aria-current="page"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span
          class="material-icons mt-2 {{ app.textClass }}"
          style="font-size: 20pt"
          >{{ app.icon }}</span
        >
        <p class="{{ app.textClass }}" style="font-size: 0.7rem">
          {{ app.text }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-1 col-md-1">
    <div class="d-flex align-items-start mt-4 ms-2">
      <div class="me-auto mb-lg-0">
        <!-- <a
          class="d-block d-md-none"
          type="menu"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="material-icons"> menu_open </span>
        </a> -->
        <div
          class="nav flex-column nav-pills me-3 d-none d-md-block"
          id="teste"
          role="tablist"
          aria-orientation="vertical"
        >
          <div *ngFor="let app of this.apps | sort:'asc'" class="col-4">
            <div
              class="text-center m-1 {{ app.buttonClass }}"
              style="
                width: 74px;
                height: 74px;
                border-radius: 7px;
                cursor: pointer;
              "
              routerLink="{{ this.getRouterLink(app.routerLink) }}"
            >
              <span
                class="material-icons mt-2 {{ app.textClass }}"
                style="font-size: 20pt"
                >{{ app.icon }}</span
              >
              <p class="{{ app.textClass }}" style="font-size: 0.7rem">
                {{ app.text }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-11 col-lg-11 mt-4" id="v-pills-tabContent">
    <router-outlet></router-outlet>
  </div>
</div>
