<ctrl-header-frame title="Login" #frame>
  <div body>
    <h4 class="card-title">Trocar Senha Inicial</h4>
    <form
      method="POST"
      class="my-login-validation"
      novalidate
      [formGroup]="this.form"
    >
      <div class="mt-3">
        <ctrl-input-field
          type="email"
          [submitted]="this.submitted"
          formControlName="signupEmail"
          [control]="this.form.get('signupEmail')"
          label="Username / E-mail"
          id="signupEmail"
        ></ctrl-input-field>
      </div>
      <div class="mt-3">
        <ctrl-input-field
          type="password"
          [submitted]="this.submitted"
          formControlName="existingPassword"
          [control]="this.form.get('existingPassword')"
          label="Senha Temporária"
          id="existingPassword"
        ></ctrl-input-field>
      </div>
      <div class="mt-3">
        <ctrl-input-field
          type="password"
          [submitted]="this.submitted"
          formControlName="signupPassword"
          [control]="this.form.get('signupPassword')"
          label="Nova Senha"
          id="signupPassword"
        ></ctrl-input-field>
      </div>
      <div class="form-group mt-3">
        <button
          type="submit"
          class="btn btn-primary col-12"
          (click)="onRegister()"
        >
          Trocar Senha
        </button>
      </div>
      <div class="mt-3 text-center">
        Já tem uma conta?
        <a [routerLink]="['/auth/signin']">
          <i class="fa fa-fw fa-lock"></i>Ir para o login</a
        >
      </div>
    </form>
  </div>
</ctrl-header-frame>
