<div class="card">
  <div class="card-header">
    Criando um Novo Projeto Angular
  </div>
  <div class="card-body">
    <h5 class="card-title">Roteiro para criar um projeto angular</h5>
    <p class="card-text">
      Rodar linha de comando com as opções:
      <li><b>--routing:</b> para criar roteamento.</li>
      <li><b>--style=scss:</b> para escolher scss como extensão do css.</li>
      <li><b>-S:</b> para não gerar arquivos de teste.</li>
    </p>
    <pre>
ng new website --routing --style=scss -S
    </pre>
    <h5>
      Instalar o bootstrap
    </h5>
    <pre>
npm install bootstrap
    </pre>
    <p class="card-text">
      No arquivo <b>index.html</b> adicionar o css do bootstrap.
    </p>
    <textarea readonly class="card-text col-sm-12 border-0" rows="5">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </textarea>
    <p class="card-text">
      No arquivo <b>index.html</b> adicionar o js do bootstrap, caso utilize controles com compartamento dinâmico.
    </p>
    <textarea readonly class="card-text col-sm-12 border-0" rows="5">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </textarea>
    <p class="card-text">
      <a href="https://getbootstrap.com/" target="blank">Bootstrap</a>
    </p>
    <br>
    <h5>Instalar componentes do NGX-Bootstrap.</h5>
    <p class="card-text">
      O Ngx-Bootstrap possui controles angular com comportamento dinâmico, caso não se queira utilizar o JQuery.
    </p>
    <pre>
ng add ngx-bootstrap
    </pre>
    <p class="card-text">
      <a href="https://valor-software.com/ngx-bootstrap/#/" target="blank">ngx-Bootstrap</a>
    </p>
  </div>
</div>
