<div class="card">
  <div class="card-header">Receive Message</div>
  <div class="card-body">
    <h5 class="card-title">
      Fila de mensagens SQS{{
        !this.timmerStoped
          ? " - Polling ... (" + (this.secondsCounter + 1) + ")"
          : ""
      }}
    </h5>
    <div class="row">
      <div class="col-sm-4">
        <ctrl-input-field
          type="number"
          label="Temporizador"
          [(ngModel)]="this.timmer"
          [isReadOnly]="!this.timmerStoped"
        ></ctrl-input-field>
      </div>
      <div class="col-sm-2 d-flex">
        <a class="btn btn-outline-warning mt-auto" (click)="onStopTimmer()">{{
          this.timmerStoped ? "Iniciar" : "Parar"
        }}</a>
      </div>
    </div>
    <div [hidden]="!this.timmerStoped">
      <form
        class="form-control form-control-sm needs-validation mt-3 border-0"
        novalidate
        [formGroup]="this.form"
      >
        <ctrl-input-field
          type="url"
          [submitted]="this.submitted"
          formControlName="QueueUrl"
          [control]="this.form.get('QueueUrl')"
          label="QueueUrl"
          placeholder="Url da fila SQS"
          id="QueueUrl"
          messagePaternError="Por favor, informe uma URL válida."
        ></ctrl-input-field>
        <ctrl-input-field
          type="number"
          [submitted]="this.submitted"
          formControlName="MaxNumberOfMessages"
          [control]="this.form.get('MaxNumberOfMessages')"
          label="MaxNumberOfMessages"
          placeholder="Mensagem"
          id="MaxNumberOfMessages"
        ></ctrl-input-field>
        <ctrl-input-field
          type="number"
          [submitted]="this.submitted"
          formControlName="VisibilityTimeout"
          [control]="this.form.get('VisibilityTimeout')"
          label="VisibilityTimeout"
          placeholder="Mensagem"
          id="VisibilityTimeout"
        ></ctrl-input-field>
        <ctrl-input-field
          type="number"
          [submitted]="this.submitted"
          formControlName="WaitTimeSeconds"
          [control]="this.form.get('WaitTimeSeconds')"
          label="WaitTimeSeconds"
          placeholder="Mensagem"
          id="WaitTimeSeconds"
        ></ctrl-input-field>
      </form>
    </div>
    <div *ngIf="!this.timmerStoped">
      <div class="col-sm-9 d-flex">
        <p class="card-text mt-auto">
          [{{ this.getConfigMessage()}}] - {{ this.statusMessage }}
        </p>
      </div>
      <hr>
      <table *ngIf="this.messages" class="table">
        <thead>
          <tr>
            <th>MessageId</th>
            <th colspan="2">Body</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let msg of this.messages">
          <tr class="table-active">
            <td>{{ msg.MessageId }}</td>
            <td colspan="2">{{ msg.Body }}</td>
            <td><a class="btn btn-outline-danger mt-3" (click)="onDelete(this.form.get('QueueUrl')?.value, msg.ReceiptHandle)">Excluir</a><a class="btn btn-outline-warning mt-3" (click)="onChangeMessageVisibility(this.form.get('QueueUrl')?.value, msg.ReceiptHandle, 0)">Liberar</a></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="this.resultMessage" class="alert {{this.resultClass}}" role="alert">
        {{ this.resultMessage }}
      </div>
    </div>
  </div>
</div>
