<div class="row">
  <div
    class="col-md-3 ms-md-4 ms-xs-sm border-start"
  >
    <div class="ms-2">
      <ctrl-search-title
        title="Tenants"
        buttonTitle="Criar Tenant"
        [searchControl]="search"
        (onCreate)="onCreate()"
      ></ctrl-search-title>
      <ctrl-search-by-name
        #search
        [service]="this.tenantService"
        (onSelectItem)="onSelectItem($event)"
      ></ctrl-search-by-name>
    </div>
  </div>
  <div
    class="col-md-8 ms-md-4 ms-xs-sm mt-xs-sm border-start"
  >
    <div class="ms-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
