<p>
  Para confirmar o login informe o código de autenticação enviado para
  {{destination}}
</p>
<form
  method="POST"
  class="my-login-validation"
  novalidate
>
  <div class="form-group">
    <ctrl-input-field
      type="number"
      label="Código de Confirmação"
      id="mfaCode"
      required
      #code
    ></ctrl-input-field>
  </div>
  <div class="form-group mt-3">
    <button
      (click)="onSubmit(code.value)"
      type="submit"
      class="btn btn-primary col-12"
    >
      Confirmar Código
    </button>
  </div>
</form>
