<div class="mt-3 mt-sm-0">
  <ctrl-alert-dismissible
    type="info"
    title="fechar"
    message="mensagem de erro"
    #alert
  ></ctrl-alert-dismissible>
  <ctrl-info-toolbar
    title="Informações"
    modalTitle="Apagar Tenant"
    modalTitleMessage="Por favor, confirme se realmente deseja apagar o tenant"
    modalSuccessMessage="Tenant apagado com sucesso."
    [alert]="this.alert"
    (onEditItem)="onEdit()"
    [item]="this.item"
    [service]="this.tenantService"
    [formEdit]="this"
  >
    <div body>
      <div class="mt-4 mt-sm-0">
        <div class="mt-2 mb-3">
          <p class="form-label">
            <b>Identificador:</b> {{ this.item.sortedKey }}
          </p>
          <p class="form-label"><b>Tenant:</b> {{ this.item.name }}</p>
          <p class="form-label"><b>URL:</b> {{ this.item.route }}</p>
          <p class="form-label"><b>Criado em</b> {{ this.item.created }}</p>
          <div *ngIf="this.item.modified">
            <p class="form-label">
              <b>Modificado em</b> {{ this.item.modified }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ctrl-info-toolbar>
</div>
