<div class="mt-3 mt-sm-0">
  <div class="mt-3 mt-sm-0">
    <ctrl-alert-dismissible
      type="info"
      title="fechar"
      message="mensagem de erro"
      #alert
    ></ctrl-alert-dismissible>
    <form
      class="form-control form-control-sm needs-validation border-0"
      novalidate
      [formGroup]="this.form"
    >
      <div class="row">
        <div class="col-12">
          <h3>Criar Tenant</h3>
        </div>
      </div>
      <div>
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="name"
          [control]="this.form.get('name')"
          label="Nome do Tenant"
          placeholder="Nome do Tenant"
          id="name"
          [isReadOnly]="!!this.item"
        ></ctrl-input-field>
      </div>
      <div class="mt-2">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="route"
          [control]="this.form.get('route')"
          label="Rota URL"
          placeholder="Rota usada na URL para acessar o Tenant"
          id="route"
          [isReadOnly]="!!this.item"
        ></ctrl-input-field>
      </div>
      <div class="text-end mt-3">
        <a
          *ngIf="!this.item"
          class="btn btn-warning btn-sm"
          (click)="onCreate()"
          >Criar Tenant</a
        >
        <a
          *ngIf="this.item"
          class="btn btn-outline-secondary btn-sm"
          (click)="onNavigate()"
          >Ir para Informações</a
        >
      </div>
    </form>
  </div>
</div>
