<ctrl-header-frame title="Esqueci Minha Senha" #frame>
  <div body>
    <form
      method="POST"
      class="my-login-validation"
      novalidate
      [formGroup]="this.form"
    >
      <p>
        Informe o e-mail do seu cadastro e clique em enviar para receber um
        código de validação e configurar uma nova senha.
      </p>
      <div class="mt-3">
        <ctrl-input-field
          type="email"
          [submitted]="this.submitted"
          formControlName="email"
          [control]="this.form.get('email')"
          label="E-mail"
          id="email"
        ></ctrl-input-field>
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary col-12" (click)="onNext()">
          Enviar
        </button>
      </div>
      <div class="mt-3 text-center">
        <a [routerLink]="[this.tenantURL + '/auth/signup']">
          <i class="fa fa-fw fa-group"></i> Criar sua conta</a
        >&nbsp;&nbsp;
        <a [routerLink]="[this.tenantURL + '/auth/signin']">
          <i class="fa fa-fw fa-user"></i> Ir para o login</a
        >
      </div>
    </form>
  </div>
</ctrl-header-frame>
