<ctrl-header-frame title="Definir Nova Senha" #frame>
  <div body>
    <form
      method="POST"
      class="my-login-validation"
      novalidate
      [formGroup]="this.form"
    >
      <div class="mt-3">
        <ctrl-input-field
          type="number"
          [submitted]="this.submitted"
          formControlName="verificationCode"
          [control]="this.form.get('verificationCode')"
          label="Código de verificação"
          id="verificationCode"
        ></ctrl-input-field>
      </div>

      <div class="mt-3">
        <ctrl-input-field
          type="password"
          [submitted]="this.submitted"
          formControlName="newPassword"
          [control]="this.form.get('newPassword')"
          label="Nova Senha"
          id="newPassword"
        ></ctrl-input-field>
      </div>

      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary col-12" (click)="onNext()">
          Trocar Senha
        </button>
      </div>

      <div class="mt-3 text-center">
        Não recebeu o código?
        <a [routerLink]="this.tenantURL + '/auth/resendCode'">Reenviar</a> ou
        <a [routerLink]="[this.tenantURL + '/auth/signin']">
          <i class="fa fa-fw fa-user"></i> Ir para o login</a
        >
      </div>
    </form>
  </div>
</ctrl-header-frame>
