<ctrl-header-frame title='Login' #frame>
  <div body>
    <form
      method="POST"
      class="my-login-validation"
      novalidate
      [formGroup]="this.form"
    >
      <div *ngIf="!this.mfaStep">
        <div class="mt-3">
          <ctrl-input-field
            type="email"
            [submitted]="this.submitted"
            formControlName="email"
            [control]="this.form.get('email')"
            label="E-mail"
            id="email"
          ></ctrl-input-field>
        </div>

        <div class="mt-3">
          <ctrl-input-field
            type="password"
            [submitted]="this.submitted"
            formControlName="password"
            [control]="this.form.get('password')"
            label="Senha"
            id="password"
          ></ctrl-input-field>
          <div class="text-end">
            <a [routerLink]="'/' + this.tenantURL + '/auth/forgot'" class="text-right mt-1 col-12"
              >Esqueceu a senha?</a
            >
          </div>
        </div>

        <div class="form-group mt-3">
          <button
            type="submit"
            class="btn btn-primary col-12"
            (click)="onLogin()"
          >
            Entrar
          </button>
        </div>
        <div class="mt-3 text-center">
          Ainda não possui acesso?
          <a [routerLink]="'/' + this.tenantURL + '/auth/signup'">Crie sua conta</a>
        </div>
      </div>

      <div *ngIf="this.mfaStep">
        <awscognito-mfa
          [destination]="mfaData.destination"
          [onSubmit]="mfaData.callback"
        ></awscognito-mfa>
        <hr />
        <div class="mt-3 text-center">
          <a (click)="cancelMFA()" href="">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</ctrl-header-frame>
