<div class="row">
  <div class="col-6">
    <div class="d-flex">
      <h3 class="ms-2">{{this.title}}</h3>
      <span
        class="material-icons ms-2"
        style="font-size: 26px; color: rgb(77, 177, 63); cursor: pointer"
        (click)="this.searchControl.loadItems()"
      >
        refresh
      </span>
    </div>
  </div>
  <div class="col-6 text-end">
    <a class="btn btn-warning btn-sm" (click)="onClick()">{{this.buttonTitle}}</a>
  </div>
</div>
