<div class="mt-3 mt-sm-0">
  <ctrl-alert-dismissible
    type="info"
    title="fechar"
    message="mensagem de erro"
    #alert
  ></ctrl-alert-dismissible>
  <form
    class="form-control form-control-sm needs-validation border-0"
    novalidate
    [formGroup]="this.form"
  >
    <div class="row">
      <div class="col-12">
        <h3>Editar Tenant</h3>
      </div>
    </div>
    <div class="">
      <ctrl-input-field
        type="text"
        [submitted]="this.submitted"
        formControlName="name"
        [control]="this.form.get('name')"
        label="Nome do Tenant"
        placeholder="Nome do Tenant"
        id="name"
        [(ngModel)]="this.item.name"
      ></ctrl-input-field>
    </div>
    <div class="mt-2">
      <ctrl-input-field
        type="text"
        [submitted]="this.submitted"
        formControlName="route"
        [control]="this.form.get('route')"
        label="Rota URL"
        placeholder="Rota usada na URL para acessar o Tenant"
        id="route"
        [(ngModel)]="this.item.route"
      ></ctrl-input-field>
    </div>
    <div class="text-end mt-3">
      <a class="btn btn-warning btn-sm" (click)="onEdit()">Atualizar</a>
    </div>
  </form>
</div>
