<div *ngIf="this.isAuth">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [href]="this.tenantURL">{{this.tenantURL}}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex justify-content-end">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-25">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ this.userName }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" [routerLink]="this.tenantURL + '/auth/jwt'"
                    >Credenciais de Segurança</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="this.tenantURL + '/auth/profile'"
                    >Minha Conta</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <div class="text-end">
                    <button
                      class="btn btn-warning me-3"
                      type="button"
                      (click)="onLogout()"
                    >
                      Logout
                    </button>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </nav>
  <br /><br />
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<h1 *ngIf="!this.isAuth">Home!</h1>
