<div class="card mt-5">
  <div class="card-header">
    Http Request
  </div>
  <div class="card-body">
    <h5 class="card-title">Http Request</h5>
    <p class="card-text">Quando precisar utilizar HttpClient para fazer requisições de um API no servidor é preciso importar o módulo HttpClientModule no arquivo <b>app.module.ts</b>.</p>
    <textarea readonly class="card-text col-sm-12 border-0" rows="1">
import { HttpClientModule } from '@angular/common/http';
    </textarea>
  </div>
  <div class="card-body">
    <h5 class="card-title">Simulador de Backend (Http Request)</h5>
    <p class="card-text">Simulando uma API REST com JSON Server de maneira simples.</p>
    <pre>
npm install -g json-server
json-server --watch src/assets/db.json
    </pre>
    <p class="card-text">
      <a href="https://www.npmjs.com/package/json-server" target="blank">NPM json-server</a>
    </p>
    <p class="card-text">
      <a href="https://www.fabricadecodigo.com/json-server/" target="blank">Passo a passo</a>
    </p>
    <br>
    <h5 class="card-title">Testar chamadas de API dentro do VSCode</h5>
    <p class="card-text">No desenvolvimento e nos testes de uma API, é interessante que você utilize alguma ferramenta que apoie com as requisições. Sei que o Postman é uma ferramenta incrível, mas existem outras opções e uma delas é o "REST Client"</p>
    <p class="card-text">Rest Client é uma extensão do VSCode que faz esse trabalho. Você consegue criar seus "scripts" com a codificação necessária para executar as suas requisições.</p>
    <p class="card-text">Para utlizar a extensão crie um arquivo com a extensão <b>".http"</b>. O conteúdo abaixo é um exemplo que pode ser utilizado junto com o json server, mas pode ser feita chamada para qualquer API.</p>
    <textarea readonly class="card-text col-sm-12 border-0" rows="30">

http://localhost:3000/cursos

###

GET http://localhost:3000/cursos/1

###

POST http://localhost:3000/cursos HTTP/1.1
content-type: application/json

{
"name": "Java"
}

###

PUT http://localhost:3000/cursos/2 HTTP/1.1
content-type: application/json

{
"name": "Javascript"
}

###

DELETE http://localhost:3000/cursos/2

    </textarea>
    <p class="card-text">
      <a href="https://dev.to/leandroats/vscode-rest-client-2cei" target="blank">Como usar</a>
    </p>
  </div>
</div>
