<div class="my-login-page">
  <ctrl-alert-dismissible
    type="info"
    title="fechar"
    message="mensagem de erro"
    #alert
  ></ctrl-alert-dismissible>
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="card fat mt-5">
            <div class="card-body">
              <h4 class="card-title">{{this.title}}</h4>
              <ng-content select="[body]"></ng-content>
            </div>
          </div>
          <div class="footer">Copyright &copy; 2021 &mdash; Ricardo Arakaki</div>
        </div>
      </div>
    </div>
  </section>
</div>
