<ctrl-header-frame title="Confirmar Registro" #frame>
  <div body>
    <form
      method="POST"
      class="my-login-validation"
      novalidate
      [formGroup]="this.form"
    >
      <div class="mt-3">
        <ctrl-input-field
          type="email"
          [submitted]="this.submitted"
          formControlName="email"
          [control]="this.form.get('email')"
          label="E-mail"
          id="email"
        ></ctrl-input-field>
      </div>
      <div class="mt-3">
        <ctrl-input-field
          type="text"
          [submitted]="this.submitted"
          formControlName="confirmationCode"
          [control]="this.form.get('confirmationCode')"
          label="Confirmation Code"
          id="confirmationCode"
        ></ctrl-input-field>
      </div>
      <div class="form-group mt-3">
        <button
          type="submit"
          class="btn btn-primary col-12"
          (click)="onConfirmRegistration()"
        >
          Confirmar
        </button>
      </div>
      <hr />
      <p>
        Não recebeu o código de confirmação?
        <a [routerLink]="[this.tenantURL + '/auth/resendCode']">
          <i class="fa fa-fw fa-group"></i> Reenviar código</a
        >&nbsp;
        <a [routerLink]="[this.tenantURL + '/auth/signup']">
          <i class="fa fa-fw fa-group"></i> Criar conta</a
        >&nbsp;
        <a [routerLink]="[this.tenantURL + '/auth/signin']">
          <i class="fa fa-fw fa-user"></i> Login</a
        >
      </p>
    </form>
  </div>
</ctrl-header-frame>
