
<div class="form-group" [ngClass]="this.classeCss">
  <label [attr.for]="this.id" class="form-label">{{ this.label }}</label>
  <input
    [type]="this.type"
    class="form-control form-control-sm"
    [id]="this.id"
    [placeholder]="this.placeholder"
    [ngClass]="[this.hasTouched(this.id) ? (!this.hasError(this.id) ? 'is-valid' : 'is-invalid') : '']"
    [readonly]="!!this.isReadOnly"
    autofocus
    [(ngModel)]="this.value"
  />
  <div *ngIf="(this.hasError(this.id))" [ngClass]="[!this.hasError(this.id) ? 'valid-feedback' : 'invalid-feedback']">{{ this.getErrorMsg(this.id) }}</div>
</div>
