<div class="card mt-5">
  <div class="card-header">
    Criando um Novo Projeto NodeJS
  </div>
  <div class="card-body">
    <h5 class="card-title">Roteiro para criar um projeto NodeJS</h5>
    <p class="card-text">
      Criar uma pasta para sua api, depois acessar a pasta e rodar as linhas de comando para criar o arquivo package.json e depois instalar as dependências.
    </p>
    <pre>
npm init
npm install --save express
npm i morgan
    </pre>
    <p class="card-text">
      Criar o arquivo .gitignore adicionando nele a pasta /node_modules para que está não seja enviada para o repositório GIT.
    </p>
    <p class="card-text">
      Criar o arquivo server.js
    </p>
    <textarea readonly class="card-text col-sm-12 border-0" rows="6">
const http = require('http'); //importando http para o projeto
const app = require('./app');
const port = process.env.port || 3000; //definir a port do serviço
const server = http.createServer(app); //criar o servidor
server.listen(port); //rodar o servidor na porta definida
    </textarea>

    <p class="card-text">
      Criar o arquivo app.js
    </p>
    <textarea readonly class="card-text col-sm-12 border-0" rows="47">
const express = require('express');
const app = express();
const morgan = require('morgan');
const bodyParser = require('body-parser')

const rotaHelloWorld = require('./routes/helloWorld');

app.use(morgan('dev'));
app.use('/uploads', express.static('uploads'));
app.use(bodyParser.urlencoded({ extended: false }));
app.use(bodyParser.json());

app.use((req, res, next) => {
    res.header('Access-Control-Allow-Origin', '*');
    res.header(
        'Access-Control-Allow-Header', 'Origin, X-Requested-With, Content-Type, Accept, Authorization'
    );

    if (req.method === 'OPTIONS') {
        res.header('Access-Control-Allow-Methods', 'PUT, POST, PATCH, DELETE, GET');
        return res.status(200).send({});
    }

    next();
});

app.use('/hello-world', rotaHelloWorld);

//QUANDO NÃO ENCONTRA NENHUMA ROTA
app.use((req, res, next) => {
    const erro = new Error('Não encontrado!');
    erro.status = 404;
    next(erro);
});

app.use((error, req, res, next) => {
    res.status(error.status || 500);
    return res.send({
        erro: {
            mensagem: error.message
        }
    });
});

module.exports = app;
    </textarea>
    <p class="card-text">
      Crie a pasta routes e dentro dela o arquivo hello-world.route.js
      controllers e copiar o helloworld de outro projeto.
    </p>
    <textarea readonly class="card-text col-sm-12 border-0" rows="8">
const express = require('express');
const router = express.Router();
const helloWorldController = require('../controllers/hello-world.controller')

router.get('/', helloWorldController.helloWorld);

module.exports = router;
    </textarea>
    <p class="card-text">
      Crie a controllers e dentro dela o arquivo hello-world.controller.js
    </p>
    <textarea readonly class="card-text col-sm-12 border-0" rows="4">
exports.helloWorld = (req, res, next) => {
  return res.status(200).send({ mensagem: 'Hello World!'});
};
    </textarea>
    <p class="card-text">
      Para rodar/testar o projeto execute:
    </p>
    <pre>
node server.js
    </pre>
    <p class="card-text">
      <a href="https://http.cat/" target="blank">Códigos de retorno Http</a>
    </p>
  </div>
</div>
