<div class="row">
  <div class="col-md-4 col-xs-12 mt-3 mt-sm-0">
    <h3>{{ this.title }}</h3>
  </div>
  <div class="col-md-8 col-xs-12 text-md-end text-xs-start">
    <div *ngIf="!this.formEdit.deleted">
      <button class="btn btn-outline-secondary btn-sm me-1" (click)="onDelete()">
        Excluir
      </button>
      <button class="btn btn-outline-secondary btn-sm me-1" (click)="onEdit()">
        Editar
      </button>
    </div>
  </div>
</div>
<div class="mt-1 mb-3 border-top">
  <ng-content select="[body]"></ng-content>
</div>
<div *ngIf="this.formEdit.deleted" class="alert alert-danger" role="alert">
  Excluído!
</div>
