
<div class="form-group" [ngClass]="this.classeCss">
  <label [attr.for]="this.id" class="form-label">{{ this.label }}</label>
  <textarea
    class="form-control"
    [cols]="this.cols"
    [rows]="this.rows"
    [id]="this.id"
    [placeholder]="this.placeholder"
    [ngClass]="[this.hasTouched(this.id) ? (!this.hasError(this.id) ? 'is-valid' : 'is-invalid') : '']"
    [readonly]="!!this.isReadOnly"
    [(ngModel)]="this.value"
  ></textarea>
  <div *ngIf="this.hasTouched(this.id)" [ngClass]="[!this.hasError(this.id) ? 'valid-feedback' : 'invalid-feedback']">{{ this.getErrorMsg(this.id) }}</div>
</div>
