<form
  class="form-control form-control-sm needs-validation border-0"
  novalidate
  [formGroup]="this.form"
>
  <div class="input-group input-group-sm mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Pesquisar"
      aria-label="search"
      aria-describedby="basic-addon1"
      formControlName="search"
    />
    <span
      class="input-group-text material-icons align-bottom"
      style="font-size: 24px; color: gray; cursor: pointer"
      id="basic-addon1"
      (click)="loadItems()"
      >search</span
    >
  </div>
</form>
<div class="mt-2 ms-2" *ngFor="let item of this.items | sort:'asc'">
  <a
    class="navlink"
    style="text-decoration: none; cursor: pointer;"
    (click)="onSelect(this.item)"
    >{{ this.item.name }}</a
  >
</div>
