<ctrl-alert-dismissible type="info" title="fechar" message="mensagem de erro" #alert></ctrl-alert-dismissible>
<div class="row">
  <div class="col-md-4 col-sm-12">
    <app-card-menu-create [alert]="alert" [cardMenu]="this.cardMenu" [isEditMode]="this.isEditMode" #cardMenuCreate></app-card-menu-create>
  </div>
  <div class="col-md-4 col-sm-12">
    <app-card-menu-app-create [alert]="alert" [cardMenu]="this.cardMenu" #cardMenuAppCreate></app-card-menu-app-create>
  </div>
  <div class="col-md-4 col-sm-12">
    <app-card-menu-preview [alert]="alert" [cardMenu]="this.cardMenu" (onSelectApp)="onSelectApp($event)"></app-card-menu-preview>
  </div>
</div>
