<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ this.title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancel()"></button>
  </div>
  <div class="modal-body">
    <p>{{ this.message }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel()">{{ this.cancelButtonText }}</button>
    <button type="button" class="btn btn-primary" (click)="onConfirm()">{{ this.confirmButtonText }}</button>
  </div>
</div>

